<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @student.phone_number %>
</p>

<p>
  <b>Twitter handle:</b>
  <%= @student.twitter_handle %>
</p>

<p>
  <b>Email :</b>
  <%= @student.email_ %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
